#title {
    font-family: monospace;
    color: rgb(51, 35, 141);
    text-decoration: dashed;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(70, 52, 175);
    font-size: 500%;
    margin: 50px 50px 50px 50px;
    position:sticky ;
    right: 335px;
    top:0;
    background-color: rgb(3, 83, 255)
}
body{
    background-image: url(../public/Images/12.avif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
img{
    height: 400px;
    width: 400px;
    margin-bottom: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type:upper-alpha;
    box-shadow: 10px 4px 25px 3px #3a3a3a
}img{
    height: 400px;
    width: 400px;
    margin-bottom: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type:upper-alpha;
    box-shadow: 10px 4px 25px 3px #3a3a3a
}img{
    height: 400px;
    width: 400px;
    margin-bottom: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type:upper-alpha;
    box-shadow: 10px 4px 25px 3px #3a3a3a
}
.the old Devices{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}